<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Service</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to services_path, class: button_class(theme: "transparent") do %>
      All Services
      <% end %>
      <%= link_to edit_service_path(@service), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Serviceid:</p>
        <p><%= @service.serviceid %></p>
      </li>
      <li>
        <p class="font-semibold">Servicename:</p>
        <p><%= @service.servicename %></p>
      </li>
      <li>
        <p class="font-semibold">Servicecost:</p>
        <p><%= @service.servicecost %></p>
      </li>
  </ul>
</div>
