<%= form_with(model: store_chain) do |form| %>
<% if store_chain.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(store_chain.errors.count, "error") %> prohibited this store_chain from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% store_chain.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :chain_number, class: label_class %>
          <%= form.text_field :chain_number, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :website, class: label_class %>
          <%= form.text_field :website, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :header_id, class: label_class %>
          <%= form.text_field :header_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if store_chain.persisted? %>
<%= link_to "Cancel", store_chain, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", store_chains_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
