<div id="<%= dom_id purchasing %>">
  <p>
    <strong>Store:</strong>
    <%= purchasing.store_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= purchasing.product_id %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= purchasing.supplier_id %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= purchasing.unit %>
  </p>

  <p>
    <strong>No:</strong>
    <%= purchasing.no %>
  </p>

  <p>
    <strong>Datepurrchasing:</strong>
    <%= purchasing.datepurrchasing %>
  </p>

  <p>
    <strong>Purchasingcost:</strong>
    <%= purchasing.purchasingcost %>
  </p>

</div>
