<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Purchasing</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to purchasings_path, class: button_class(theme: "transparent") do %>
      All Purchasings
      <% end %>
      <%= link_to edit_purchasing_path(@purchasing), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Store:</p>
        <p><%= @purchasing.store %></p>
      </li>
      <li>
        <p class="font-semibold">Product:</p>
        <p><%= @purchasing.product %></p>
      </li>
      <li>
        <p class="font-semibold">Supplier:</p>
        <p><%= @purchasing.supplier %></p>
      </li>
      <li>
        <p class="font-semibold">Unit:</p>
        <p><%= @purchasing.unit %></p>
      </li>
      <li>
        <p class="font-semibold">No:</p>
        <p><%= @purchasing.no %></p>
      </li>
      <li>
        <p class="font-semibold">Datepurrchasing:</p>
        <p><%= @purchasing.datepurrchasing %></p>
      </li>
      <li>
        <p class="font-semibold">Purchasingcost:</p>
        <p><%= @purchasing.purchasingcost %></p>
      </li>
  </ul>
</div>
