<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Purchasing</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to purchasings_path, class: button_class(theme: "transparent") do %>
      All Purchasings
      <% end %>
      <%= link_to edit_purchasing_path(@purchasing), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Store:</p>
        <p><%= @purchasing.store.storeid %></p>
      </li>
      <li>
        <p class="font-semibold">Purchasingid:</p>
        <p><%= @purchasing.purchasingid %></p>
      </li>
      <li>
        <p class="font-semibold">Product:</p>
        <p><%= @purchasing.product.productname %></p>
      </li>
      <li>
        <p class="font-semibold">Supplier:</p>
        <p><%= @purchasing.suppliername %></p>
      </li>
      <li>
        <p class="font-semibold">Unit:</p>
        <p><%= @purchasing.unit %></p>
      </li>
      <li>
        <p class="font-semibold">Number of unit:</p>
        <p><%= @purchasing.number_of_unit %></p>
      </li>
      <li>
        <p class="font-semibold">Note:</p>
        <p><%= @purchasing.note %></p>
      </li>
      <li>
        <p class="font-semibold">Datepurchasing:</p>
        <p><%= @purchasing.datepurchasing %></p>
      </li>
      <li>
        <p class="font-semibold">Purchasingcost:</p>
        <p><%= @purchasing.purchasingcost %></p>
      </li>
  </ul>
</div>
