<div id="<%= dom_id employee %>">
  <p>
    <strong>Store:</strong>
    <%= employee.store_id %>
  </p>

  <p>
    <strong>Empid:</strong>
    <%= employee.empid %>
  </p>

  <p>
    <strong>Empname:</strong>
    <%= employee.empname %>
  </p>

  <p>
    <strong>Empphone:</strong>
    <%= employee.empphone %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.department_id %>
  </p>

</div>
