<div id="<%= dom_id store %>">
  <p>
    <strong>Store chain:</strong>
    <%= store.store_chain_id %>
  </p>

  <p>
    <strong>Storeid:</strong>
    <%= store.storeid %>
  </p>

  <p>
    <strong>Phone contract:</strong>
    <%= store.phone_contract %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= store.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= store.description %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= store.page %>
  </p>

  <p>
    <strong>Open time:</strong>
    <%= store.open_time %>
  </p>

  <p>
    <strong>Close time:</strong>
    <%= store.close_time %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= store.address %>
  </p>

  <p>
    <strong>No employee:</strong>
    <%= store.no_employee %>
  </p>

</div>
