<div id="<%= dom_id booking %>">
  <p>
    <strong>Bookingid:</strong>
    <%= booking.bookingid %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= booking.client_id %>
  </p>

  <p>
    <strong>Datebooking:</strong>
    <%= booking.datebooking %>
  </p>

  <p>
    <strong>Point:</strong>
    <%= booking.point_id %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= booking.discount_id %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= booking.total %>
  </p>

  <p>
    <strong>Paymentmethod:</strong>
    <%= booking.paymentmethod_id %>
  </p>

</div>
