<div id="<%= dom_id booking %>">
  <p>
    <strong>Bookingid:</strong>
    <%= booking.bookingid %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= booking.client_id %>
  </p>

  <p>
    <strong>Booking productid:</strong>
    <%= booking.booking_productid %>
  </p>

  <p>
    <strong>No product:</strong>
    <%= booking.no_product %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= booking.service_id %>
  </p>

  <p>
    <strong>Bookingdescription:</strong>
    <%= booking.bookingdescription %>
  </p>

  <p>
    <strong>Bookingcost:</strong>
    <%= booking.bookingcost %>
  </p>

  <p>
    <strong>Deposit:</strong>
    <%= booking.deposit %>
  </p>

  <p>
    <strong>Datebooking:</strong>
    <%= booking.datebooking %>
  </p>

</div>
