<%= form_with(model: booking) do |form| %>
<% if booking.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% booking.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :bookingid, class: label_class %>
          <%= form.text_field :bookingid, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :client_id, class: label_class %>
        <%= form.select:client_id, options_from_collection_for_select(Client.all, 'id', 'clientphone', selected = booking.client_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :datebooking, class: label_class %>
          <%= form.datetime_field :datebooking, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :point_id, class: label_class %>
        <%= form.select:point_id, options_from_collection_for_select(Point.all, 'id', 'bonuspoint', selected = booking.client_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :discount_id, class: label_class %>
        <%= form.select:discount_id, options_from_collection_for_select(Discount.all, 'id', 'amount', selected = booking.discount_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :total, class: label_class %>
          <%= form.text_field :total, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :paymentmethod_id, class: label_class %>
        <%= form.select:paymentmethod_id, options_from_collection_for_select(Paymentmethod.all, 'id', 'paymentmed', selected = booking.paymentmethod_id), class: label_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if booking.persisted? %>
<%= link_to "Cancel", booking, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", bookings_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
