<div id="<%= dom_id client %>">
  <p>
    <strong>Store:</strong>
    <%= client.store_id %>
  </p>

  <p>
    <strong>Clientphone:</strong>
    <%= client.clientphone %>
  </p>

  <p>
    <strong>Clientname:</strong>
    <%= client.clientname %>
  </p>

  <p>
    <strong>Clientemail:</strong>
    <%= client.clientemail %>
  </p>

  <p>
    <strong>Clientstandard:</strong>
    <%= client.clientstandard %>
  </p>

</div>
