<%= form_with(model: client) do |form| %>
<% if client.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% client.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :store_id, class: label_class %>
        <%= form.select:store_id, options_from_collection_for_select(Store.all, 'id', 'storeid', selected = client.store_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :clientphone, class: label_class %>
          <%= form.text_field :clientphone, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :clientname, class: label_class %>
          <%= form.text_field :clientname, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :clientemail, class: label_class %>
          <%= form.text_field :clientemail, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if client.persisted? %>
<%= link_to "Cancel", client, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", clients_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
