<%= form_with(model: paymentmethod) do |form| %>
<% if paymentmethod.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(paymentmethod.errors.count, "error") %> prohibited this paymentmethod from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% paymentmethod.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :paymentmed, class: label_class %>
          <%= form.text_field :paymentmed, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if paymentmethod.persisted? %>
<%= link_to "Cancel", paymentmethod, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", paymentmethods_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
