<div id="<%= dom_id order %>">
  <p>
    <strong>Store:</strong>
    <%= order.store_id %>
  </p>

  <p>
    <strong>Orderid:</strong>
    <%= order.orderid %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= order.client_id %>
  </p>

  <p>
    <strong>Order productid:</strong>
    <%= order.order_productid %>
  </p>

  <p>
    <strong>No orderproduct:</strong>
    <%= order.no_orderproduct %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= order.service_id %>
  </p>

  <p>
    <strong>Ordercost:</strong>
    <%= order.ordercost %>
  </p>

</div>
