<div id="<%= dom_id order %>">
  <p>
    <strong>Orderid:</strong>
    <%= order.orderid %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= order.client_id %>
  </p>

  <p>
    <strong>Orderdate:</strong>
    <%= order.orderdate %>
  </p>

  <p>
    <strong>Point:</strong>
    <%= order.point_id %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= order.discount_id %>
  </p>

  <p>
    <strong>Ordercost:</strong>
    <%= order.ordercost %>
  </p>

  <p>
    <strong>Paymentmethod:</strong>
    <%= order.paymentmethod_id %>
  </p>

  <p>
    <strong>Buyingmethod:</strong>
    <%= order.buyingmethod_id %>
  </p>

</div>
