<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Order</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to orders_path, class: button_class(theme: "transparent") do %>
      All Orders
      <% end %>
      <%= link_to edit_order_path(@order), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Orderid:</p>
        <p><%= @order.orderid %></p>
      </li>
      <li>
        <p class="font-semibold">Client:</p>
        <p><%= @order.client %></p>
      </li>
      <li>
        <p class="font-semibold">Orderdate:</p>
        <p><%= @order.orderdate %></p>
      </li>
      <li>
        <p class="font-semibold">Point:</p>
        <p><%= @order.point %></p>
      </li>
      <li>
        <p class="font-semibold">Discount:</p>
        <p><%= @order.discount %></p>
      </li>
      <li>
        <p class="font-semibold">Ordercost:</p>
        <p><%= @order.ordercost %></p>
      </li>
      <li>
        <p class="font-semibold">Paymentmethod:</p>
        <p><%= @order.paymentmethod %></p>
      </li>
      <li>
        <p class="font-semibold">Buyingmethod:</p>
        <p><%= @order.buyingmethod %></p>
      </li>
  </ul>
</div>
