<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Order</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to orders_path, class: button_class(theme: "transparent") do %>
      All Orders
      <% end %>
      <%= link_to edit_order_path(@order), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Store:</p>
        <p><%= @order.store %></p>
      </li>
      <li>
        <p class="font-semibold">Orderid:</p>
        <p><%= @order.orderid %></p>
      </li>
      <li>
        <p class="font-semibold">Client:</p>
        <p><%= @order.client %></p>
      </li>
      <li>
        <p class="font-semibold">Order productid:</p>
        <p><%= @order.order_productid %></p>
      </li>
      <li>
        <p class="font-semibold">No orderproduct:</p>
        <p><%= @order.no_orderproduct %></p>
      </li>
      <li>
        <p class="font-semibold">Service:</p>
        <p><%= @order.service %></p>
      </li>
      <li>
        <p class="font-semibold">Ordercost:</p>
        <p><%= @order.ordercost %></p>
      </li>
  </ul>
</div>
