<div id="<%= dom_id response %>">
  <p>
    <strong>Resid:</strong>
    <%= response.resid %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= response.client_id %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= response.response %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= response.rating_id %>
  </p>

</div>
