<div id="<%= dom_id booking_detail %>">
  <p>
    <strong>Booking:</strong>
    <%= booking_detail.booking_id %>
  </p>

  <p>
    <strong>Bookingdetailid:</strong>
    <%= booking_detail.bookingdetailid %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= booking_detail.service_id %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= booking_detail.time %>
  </p>

  <p>
    <strong>Bookingdescription:</strong>
    <%= booking_detail.bookingdescription %>
  </p>

</div>
