<div id="<%= dom_id payment %>">
  <p>
    <strong>Paymentid:</strong>
    <%= payment.paymentid %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= payment.store_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= payment.order_id %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= payment.booking_id %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= payment.discount_id %>
  </p>

  <p>
    <strong>Paymentcost:</strong>
    <%= payment.paymentcost %>
  </p>

  <p>
    <strong>Paymentdate:</strong>
    <%= payment.paymentdate %>
  </p>

</div>
