<%= form_with(model: manufacturing) do |form| %>
<% if manufacturing.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(manufacturing.errors.count, "error") %> prohibited this manufacturing from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% manufacturing.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :manid, class: label_class %>
          <%= form.text_field :manid, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :manname, class: label_class %>
          <%= form.text_field :manname, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if manufacturing.persisted? %>
<%= link_to "Cancel", manufacturing, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", manufacturings_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
