<div id="<%= dom_id header %>">
  <p>
    <strong>Headerid:</strong>
    <%= header.headerid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= header.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= header.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= header.email %>
  </p>

</div>
