<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Header</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to headers_path, class: button_class(theme: "transparent") do %>
      All Headers
      <% end %>
      <%= link_to edit_header_path(@header), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Headerid:</p>
        <p><%= @header.headerid %></p>
      </li>
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @header.name %></p>
      </li>
      <li>
        <p class="font-semibold">Phone:</p>
        <p><%= @header.phone %></p>
      </li>
      <li>
        <p class="font-semibold">Email:</p>
        <p><%= @header.email %></p>
      </li>
  </ul>
</div>
