<div id="<%= dom_id product %>">
  <p>
    <strong>Productname:</strong>
    <%= product.productname %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= product.product_type_id %>
  </p>

  <p>
    <strong>Manufacturing:</strong>
    <%= product.manufacturing_id %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= product.cost %>
  </p>

</div>
