<%= form_with(model: supplier) do |form| %>
<% if supplier.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% supplier.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :supplierid, class: label_class %>
          <%= form.text_field :supplierid, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :suppliername, class: label_class %>
          <%= form.text_field :suppliername, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :product_id, class: label_class %>
          <%= form.text_field :product_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :manufacturing_id, class: label_class %>
          <%= form.text_field :manufacturing_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :costproduct, class: label_class %>
          <%= form.text_field :costproduct, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :producttype_id, class: label_class %>
          <%= form.text_field :producttype_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if supplier.persisted? %>
<%= link_to "Cancel", supplier, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", suppliers_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
